/* index */
.index-header {
  display: flex;
  justify-content: space-between;
}

.study-abroad-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0;
  box-sizing: border-box;
}

.study-abroad-card {
  height: auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  color: var(--dark-gray);
}

.study-abroad-card img {
  width: 100%;
  height: 200px;
}

.study-abroad-card h2 {
  margin-left: 1rem;
}

.study-abroad-list a {
  text-decoration: none;
  color: var(--dark-gray);
  min-width: 300px;
}